.container {
  width: 1440px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  height: 55px;
  width: 100%;
  position: fixed;
  z-index: 10;
}

header nav {
  display: flex;
  align-items: center;
  margin-left: -50px;
  height: 100%;
}

#logo {
  margin: 0 80px;
}

#logo img {
  width: 120px;
}

header nav ul {
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

header nav ul > li {
  height: 100%;
  margin: 0 20px;
  font-size: 18px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
}

header nav ul > li > a {
  color: #b9bbb9;
}

header nav ul > li > a:hover {
  color: #ffffff;
}

#profile {
  position: absolute;
  top: 7.5px;
  right: 10px;
}

#profile img {
  width: 40px;
}
